#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens33 --gateway=10.2.6.1 --ip=10.2.6.132 --nameserver=10.14.1.10,10.11.0.51 --netmask=255.255.254.0 --ipv6=auto --activate
network  --hostname=CIT470-001-Client01-Bryantr4.hh.nku.edu

# Root password
rootpw --iscrypted $6$XxvavJf6rajmOMgT$eKUYSvnz3sLJ/LW6Ax5RC.enurlhe45s1/Sfgl95lwtTkqrjGT/XvdgOm09BCoCFtQHJMn/EcQtCAcbCqewQx1
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# System services
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /home --fstype="xfs" --ondisk=sda --size=13732
part /var --fstype="xfs" --ondisk=sda --size=953
part swap --fstype="swap" --ondisk=sda --size=953
part / --fstype="xfs" --ondisk=sda --size=3814

# Reboot after installation
reboot

#Packages
%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end

%post --log=/root/ks-post.log
useradd -c "Test User" -s /bin/bash -d /home/test -m test -p $6$XxvavJf6rajmOMgT$eKUYSvnz3sLJ/LW6Ax5RC.enurlhe45s1/Sfgl95lwtTkqrjGT/XvdgOm09BCoCFtQHJMn/EcQtCAcbCqewQx1
useradd -c "Riyan Bryant" -s /bin/bash -d /home/Bryantr4 -m Bryantr4 -p $6$XxvavJf6rajmOMgT$eKUYSvnz3sLJ/LW6Ax5RC.enurlhe45s1/Sfgl95lwtTkqrjGT/XvdgOm09BCoCFtQHJMn/EcQtCAcbCqewQx1
/usr/bin/echo "export PATH=$PATH:/usr/local/bin"
/usr/bin/echo "export PATH=$PATH:/usr/local/sbin"
# yum update -y 
%end 
